.form{
    border: 0px solid rgb(95, 0, 0);
    margin: 0 auto;
    margin-bottom: 30px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: inset rgb(96 0 0) 0px 0px 19px 0px, rgb(116 0 0) 0px 0px 40px 0px;
    background-color: rgb(218, 160, 1);
    max-width: 600px;
}
