.form__Button {
    margin: auto;
    margin-top: 5px;
    display: block;
    color: white;
    background-color: rgb(95, 0, 0);
    padding: 5px;
    width: 100px;
    border-radius: 10px;
    border: none;
}

.form__Button:hover {
    background-color: rgba(95, 0, 0, 0.705);
}

.form__Button:active {
    background-color: rgba(95, 0, 0, 0.466);
}
